@model ProjectWebAirlineMVC.Data.Entities.Flight

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OriginCountryId" class="control-label"></label>
                <select asp-for="OriginCountryId" asp-items="ViewBag.Countries" class="form-control"></select>
                <span asp-validation-for="OriginCountryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DestinationCountryId" class="control-label"></label>
                <select asp-for="DestinationCountryId" asp-items="ViewBag.Countries" class="form-control"></select>
                <span asp-validation-for="DestinationCountryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

