@model ProjectWebAirlineMVC.Models.FlightViewModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">New Flight</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="flightForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_Flights" />

            <div class="form-group">
                <span id="error-message" class="text-danger" style="display:none;">We only do International Flights, select a different country</span>
                <br />
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-light">Back to List</a>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.getElementById('flightForm').addEventListener('submit', function (e) {
            
            var originCountryId = document.getElementById('OriginCountryId').value;
            var destinationCountryId = document.getElementById('DestinationCountryId').value;

            
            if (originCountryId === destinationCountryId) {
                
                document.getElementById('error-message').style.display = 'block';

                
                e.preventDefault();
            } else {
                
                document.getElementById('error-message').style.display = 'none';
            }
        });
    </script>
}
