@model ProjectWebAirlineMVC.Models.ChangeUserRoleViewModel

<h2>Change @Model.FullName Role</h2>

<form asp-action="ChangeUserRole" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />

    <div class="form-group">
        <label asp-for="CurrentRole" class="control-label">Select new role</label>
        <select asp-for="CurrentRole" class="form-control" asp-items="Model.Roles"></select>
    </div>

    <button type="submit" class="btn btn-primary">Switch role</button>
</form>
