
@{
    ViewData["Title"] = "ConfirmEmail";
}

<h2>Email confirmed!</h2>
<div>
    <p>
        Thank you for confirming your email. Now you can login.
    </p>
    <a asp-action="Login" class="btn btn-success">Login</a>
</div>

