@model ProjectWebAirlineMVC.Models.TicketPurchaseViewModel


<h2>Buy Ticket for Flight @Model.Flight?.FlightNumber</h2>

<form asp-action="BuyTickets" method="post">
    <input type="hidden" asp-for="FlightId" value="@Model.Flight.Id" />

    <div class="form-group">
        <label asp-for="SelectedSeat">Seat</label>
        <select asp-for="SelectedSeat" class="form-control" asp-items="Model.AvailableSeats">
            <option value="">Select your seat</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="PassengerFirstName">First Name</label>
        <input asp-for="PassengerFirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="PassengerLastName">Last Name</label>
        <input asp-for="PassengerLastName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="PassengerPhoneNumber">Phone Number</label>
        <input asp-for="PassengerPhoneNumber" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="PassengerEmail">Email</label>
        <input asp-for="PassengerEmail" class="form-control" />
    </div>

    <div class="form-group">
        <label>Add Luggage?</label>
        <div>
            <input type="radio" asp-for="HasLuggage" value="true" /> Yes
            <input type="radio" asp-for="HasLuggage" value="false" /> No
        </div>
    </div>

    <div class="form-group">
        <label>Extra Luggage?</label>
        <div>
            <input type="radio" asp-for="ExtraLuggage" value="true" /> Yes
            <input type="radio" asp-for="ExtraLuggage" value="false" /> No
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Buy</button>
    <a asp-area="" asp-controller="Flights" asp-action="Index" class="btn btn-light">Back to Flights</a>

</form>



